
.hndude-form {
    display:inline;
    margin: 0;
    padding: 0;
}

.hndude-form-input {
    display: inline;
    background-color: #FF8939;
    border: 0;
}

.hndude-form-submit {
    display: none;
}
